@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    
}




.topnav{
    display: flex;
    justify-content: space-between;
    color: rgb(250, 250, 250);
    background-color: #090442;
    padding: 10px 100px 10px 100px;
    font-family: "Bai Jamjuree", sans-serif;
    position: sticky;
    z-index: 5;
    top: 0px;
}

.topnav div{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
}
.topnav div i{
    margin-right: 5px;
}

/* =====================top navbar media query start=============================== */

@media (max-width:1025px){
    .topnav{
        padding: 10px 50px 10px 50px;
    }
    .topnav div{
        font-size: 12px;
    }
}
@media (max-width:769px){
    .topnav{
        padding: 10px 20px 10px 20px ;
    }

}
@media (max-width:660px){
    .topnav{
        padding: 5px 20px 5px 20px;
    }
    .topnav div{
        font-size: 10px;
    }
}
@media (max-width:431px){
    .topnav{
        display: none;
    }
}

/* =====================top nav bar media query ends=============================== */

/* ===============main nav bar================ */

.mainnav{
    display: flex;
    justify-content: space-between;
    padding: 20px 100px 20px 100px;
    align-items: center;
    font-family: "Bai Jamjuree", sans-serif;
    position: sticky;
    z-index: 5;
    background-color: white;
    top: 37.6px;
}
.main1{
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 2px;
}
.main2{
    display: flex;
}
.main2 div {
    margin-left: 20px;
}
.main2 a{
    text-decoration: none;
    color: rgb(10, 10, 10);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}

.main2 a:hover{
    color: #090442;
    text-decoration: underline 1px;
    transition: 0.5s;
}

.main3{
    display: flex;
}
.main3 div{
    margin-left: 25px;
}
.main3 a{
    color: rgb(250, 250, 250);
    background-color: #090442;
    border-radius: 50%;
    padding: 10px;
}
.main3 a:hover{
    color: #090442;
    background-color: rgb(250, 250, 250);
    transition: 0.5s;
}

/* .homenav{
    background-color: rgb(202, 202, 202);
    height: 200px;
    padding: 40px;
    display: none;
}
.homenav div{
    margin-left: 400px;
}
.homenav span{
    margin: 20px;
} */

/* ========================moble view and slide navbar css start====================*/

.mobileviewnav{
    display: none;
}
#sidebar{
    width: 250px;
    height: 50vh;
    background-color: rgb(250, 250, 250);
    /* color: rgb(10, 10, 10); */
    position: absolute;
    top: 0px;
    left: -400px;
    z-index: 6;
    padding: 20px;
}

.sidebar1{
    display: flex;
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 20px 0px;
    border-bottom:0.5px solid rgb(9, 4, 66) ;
}
.sidebar1 div{
    margin-left: 20px ;

}
.sidebar1 div a{
    text-decoration: none;
    color: rgb(250, 250, 250);
    background-color: #090442;
    border-radius: 50%;
    padding: 7px;
    height: 10px;
    width: 10px;
    font-size: 16px;
}
.sidebar2{
    font-family: "Bai Jamjuree", sans-serif;
    text-align: center;
}
.sidebar2 div{
    margin: 20px 0px 0px 0px;

}
.sidebar2 div a{
    color: rgb(10, 10, 10);
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}

/* ========================moble view and slide navbar css ends====================*/

/* =====================media query start=============================== */

@media (max-width:1025px){
    .mainnav{
        padding: 20px 50px 20px 50px;
        top: 35.6px;
    }
    .main3 a{
        padding: 9px;
    }
    .main3 div{
        margin-left: 20px;
    }
}
@media (max-width:925px){
    .mainnav{
        padding: 18px 30px 18px 30px;
    }
    .main2 a{
        font-size: 13px;
    }
    .main3 a{
        padding: 8px;
        font-size: 14px;
    }
    .main3 div{
        margin-left: 15px;
    }

}

@media (max-width:831px){
    
    .main2 a{
        font-size: 12px;
    }
    .main3 div{
        margin-left: 10px;
    }
    .main3 a{
        padding: 7px;
    }
}

@media (max-width:769px){
    .mainnav{
        padding: 10px 20px 10px 20px ;
    }
    .main2 a{
        font-size: 12px;
    }
    .main3 a{
        padding: 5px;
    }
    .main3 div{
        margin-left: 5px;
    }
}
@media (max-width:750px){
    .mainnav{
        display: none;
    }
    .mobileviewnav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 30px 10px 30px;
        font-size: 16px;
    }
    .logo{
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 2px;
    font-family: "Bai Jamjuree", sans-serif;
    }
    
    .mobnav2 a{
        text-decoration: none;
        color: rgb(250, 250, 250);
        background-color: #090442;
        border-radius: 50%;
        padding: 7px;
        height: 10px;
        width: 10px;
        font-size: 16px;
    }
    .mobnav2 a:hover{
        color: #090442;
        background-color: rgb(250, 250, 250);
        transition: 0.5s;
    }
    #inputmainnav:checked ~ #sidebar{
        left: 0px;
        transition: left 1s;
    }
    #inputmainnavout:checked ~ #sidebar{
        left: -400px;
        transition: 1s;
    }
}

@media (max-width:431px){
    .mainnav{
        display: none;
    }
    .mobileviewnav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 30px 10px 30px;
    }
    .logo{
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2px;
    font-family: "Bai Jamjuree", sans-serif;
    }
    
    .mobnav2 a{
        text-decoration: none;
        color: rgb(250, 250, 250);
        background-color: #090442;
        border-radius: 50%;
        padding: 5px;
        height: 10px;
        width: 10px;
        font-size: 12px;
    }
    .mobnav2 a:hover{
        color: #090442;
        background-color: rgb(250, 250, 250);
        transition: 0.5s;
    }
    #inputmainnav:checked ~ #sidebar{
        left: 0px;
        transition: left 1s;
    }
    #inputmainnavout:checked ~ #sidebar{
        left: -400px;
        transition: 1s;
    }
}

/* =====================media query ends=============================== */

/* ==========hero section=============== */

.hero{
    
    height: fit-content;
    

}
.hero h1{
    text-align: center;
    margin: 20px;
    font-size: 36px ;
}
.heronav{
    display: flex;
    justify-content: center;
    background-color: #0904424f;
    /* color:rgb(10, 10, 10); */
    position: static;
    z-index: 0;
    top: px;
}
.heronav div {
    margin: 20px 100px;
    font-size: 42px;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 400;
}
.heronav div a{
    text-decoration: none;
    color: rgb(10, 10, 10);
}

.heronav div a:hover{
    color: rgb(250, 250, 250);
}


.carts{
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    /* margin: 20px; */
}
.carts div{
    height: 400px;
    width: 650px;
    background-color: white;
    /* font-size: 16px; */
    margin: 10px 20px 60px 20px;
    
}
.carts h3{
    margin: 10px 100px 20px 0px;
    font-size: 20px;
    letter-spacing: 0.6px;
    font-weight: 400;
}

/* ============================hero section media query============================= */
@media (max-width:1356px){
    .carts div{
        height: 340px;
        width: 480px;
        margin: 10px 20px 60px 20px;
    }
    .carts div img{
        height: 340px;
        width: 480px;
    }
    .carts h3{
        margin: 10px 100px 20px 0px;
        font-size: 20px;
        letter-spacing: 0.6px;
        font-weight: 400;
        color: rgb(10, 10, 10);
    }
    .hero h1{
        text-align: center;
        margin: 20px;
        font-size: 34px;
    }
}
@media (max-width:1025px){
    .heronav div{
        margin: 20px 100px;
        font-size: 35px;
        font-family: "Bai Jamjuree", sans-serif;
        font-weight: 400;
    }
    .carts div{
        height: 300px;
        width: 450px;
        margin: 10px 20px 60px 20px;
    }
    .carts div img{
        height: 300px;
        width: 450px;
    }
    .carts h3{
        margin: 10px 100px 20px 0px;
        font-size: 19px;
        letter-spacing: 0.6px;
        font-weight: 400;
        color: rgb(10, 10, 10);
    }
    .hero h1{
        text-align: center;
        margin: 20px;
        font-size: 32px;
    }
}
@media (max-width:950px){
    
    .carts{
        display: grid;
        justify-content: center;
        grid-template-columns: auto;
        /* margin: 20px; */
    }
    .carts div{
        height: 400px;
        width: 650px;
        background-color: white;
        /* font-size: 16px; */
        margin: 10px 20px 60px 20px;
        
    }
    .carts div img{
        height: 400px;
        width: 650px;
    }
    .carts h3{
        margin: 10px 100px 20px 0px;
        font-size: 18px;
        letter-spacing: 0.5px;
        font-weight: 400;
    }
    .hero h1{
        text-align: center;
        margin: 20px;
        font-size: 30px;
    }
}
@media (max-width:769px){
    .heronav div{
        margin: 15px 70px;
        font-size: 30px;
        font-family: "Bai Jamjuree", sans-serif;
        font-weight: 400;
    }
    .hero h1{
        text-align: center;
        margin: 20px;
        font-size: 28px;
    }
}
@media (max-width:661px){
    .heronav div{
        margin: 15px 50px;
        font-size: 25px;
        font-family: "Bai Jamjuree", sans-serif;
        font-weight: 400;
    }

    .carts div{
        height: 300px;
        width: 450px;
        margin: 10px 20px 60px 20px;
    }
    .carts div img{
        height: 300px;
        width: 450px;
    }
    .carts h3{
        margin: 10px 100px 20px 0px;
        font-size: 17px;
        letter-spacing: 0.5px;
        font-weight: 400;
        color: rgb(10, 10, 10);
    }
    .hero h1{
        text-align: center;
        margin: 18px;
        font-size: 25px;
    }
}
@media (max-width: 500px){
    .heronav div{
        margin: 10px 30px;
        font-size: 22px;
        font-family: "Bai Jamjuree", sans-serif;
        font-weight: 400;
    }

    .carts div{
        height: 280px;
        width: 410px;
        margin: 10px 20px 60px 20px;
    }
    .carts div img{
        height: 280px;
        width: 410px;
    }
    .carts h3{
        margin: 10px 80px 20px 0px;
        font-size: 15px;
        letter-spacing: 0.3px;
        font-weight: 400;
        color: rgb(10, 10, 10);
    }
    .hero h1{
        text-align: center;
        margin: 18px;
        font-size: 22px ;
        font-weight: 300;
    }
}

@media (max-width:431px){
    .heronav div{
        margin: 10px 30px;
        font-size: 22px;
        font-family: "Bai Jamjuree", sans-serif;
        font-weight: 400;
    }

    .carts div{
        height: 200px;
        width: 350px;
        margin: 10px 20px 60px 20px;
    }
    .carts div img{
        height: 200px;
        width: 350px;
    }
    .carts h3{
        margin: 10px 60px 20px 0px;
        font-size: 15px;
        letter-spacing: 0.3px;
        font-weight: 400;
        color: rgb(10, 10, 10);
    }
    .hero h1{
        text-align: center;
        margin: 15px;
        font-size: 20px;
        font-weight: 300;
    }
}
@media (max-width:375px){
    .heronav div{
        margin: 8px 20px;
        font-size: 20px;
        font-family: "Bai Jamjuree", sans-serif;
        font-weight: 400;
    }

    .carts div{
        height: 160px;
        width: 250px;
        margin: 8px 15px 50px 15px;
    }
    .carts div img{
        height: 160px;
        width: 250px;
    }
    .carts h3{
        margin: 8px 50px 15px 0px;
        font-size: 12px;
        letter-spacing: 0.3px;
        font-weight: 400;
        color: rgb(10, 10, 10);
    }
    .hero h1{
        text-align: center;
        margin: 10px;
        font-size: 18px;
        font-weight: 400;
    }
}


/* ============================hero section media query============================= */

/* ==================footer================= */

.footer {
    background-color: #0904424f ;
    color: #ecf0f1;
    padding: 40px 0;
    font-family: Arial, sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-column {
    width: 30%;
}

.footer-column h3 {
    margin-bottom: 20px;
    font-size: 1.2rem;
    color: rgb(250, 250, 250);
}

.footer-column ul {
    list-style: none;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 1rem;
}

.footer-column ul li a:hover {
    color: #f39c12;
}
.footer-bottom {
    text-align: center;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #7f8c8d;
    font-size: 0.9rem;
    /* background-color: #090442; */
}

.footer-bottom p {
    color: #95a5a6;
    background-color: #090442;
    
}
